<div class="index-container">
  <% @pianos.each do |piano| %>
    <div class="card">
      <h3> <%= link_to  piano.name, pianos_path %> </h3>
      <p> Brand: <%= piano.brand %> </p>
      <p> Price: <%= piano.price %>$ </p>
    </div>
  <% end %>
</div>
