<div class="container">
<h2><%= @piano.name %></h2>
<p><%= @piano.price %></p>
<p><%= @piano.brand %></p>
<<<<<<< HEAD

<%= link_to "Delete #{@piano.name}",
            piano_path(@piano),
            method: :destroy,
            data: { confirm: "Are you sure?" } %>
=======
</div>
>>>>>>> cbcc3903c038bbd899f94541127862d174d70305
