<div class="piano-container">
  <%= video_tag 'piano.mp4', autoplay: true, muted: true, loop: true, class: 'video' %>

  <div class="home-text">
    <h1 class="text-center">Book your piano and play !</h1>
    <%= link_to "Watch our new pianos", pianos_path, class: "btn btn-primary" %>
  </div>
</div>
