.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    width: 100%;
    height: 72px;
    box-shadow: 0 0 6px rgba($color: #000000, $alpha: 1.0);
    img {
        height: 60px;
    }
}

.ul-sign {
    display: flex;
    align-items: center;
    li {
        padding: 0 40px;
    }
}

.nav-link {
    text-decoration: none;
    color: #272727;
    font-size: 20px;
    &:hover {
        color: whitesmoke;
        text-shadow: #3b3b3b 1px 0 8px;
    }
}
