
.new-container {
  margin: 0 auto;
  width: 350px;
  height: 450px;
  background: white;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  .edit-form {
    margin-left:40px;
    margin-right:40px;
  }
}

