input[type="submit" i] {
  margin: 10px;
  background-color: #f5f4f4;
  border: 1px solid #00303f;
  color: #00303f;
  padding: 8px 24px;
  width: 150px;
  border-radius: 10px;
  font-weight: normal;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

input[type="submit" i]:hover {
  opacity: 1;
  color: rgba(187, 24, 24, 0.424);
  border-color: rgba(187, 24, 24, 0.404);
}

.edit-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 10px;
  margin: auto;
  width: 350px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 1px 1px 50px #000;
    label {
      padding: 8px;
      color: #00303f;
    }
}

#create-btn {
  justify-content: center;
  text-align: center;
}