.searchbar {
    position: relative;
    padding-top: 20px;
    width: 500px;
    height: 60px;
    margin: 0 auto;
}

.search-submit {
    display: none;
    position: absolute;
    top: 5px;
    transform: translateX(500px);
    text-align: center;
    width: 50px;
}