@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');

// * {
//   margin: 0px;
//   padding: 0;
// }
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


  .fa-times-circle {  
    color: black;
    font-size: 24px;
    text-decoration: none;    
    &:hover {
      transform: scale(1.2);
      text-shadow: black 1px;
    }  
  }

  .show-piano-delete {
    position: relative;
    margin-bottom: 248px;
    margin-left: 8px;
  }
  

  .post {
    width: 350px;
    height: 500px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-content: center;
    position: relative;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.109);
    border: 1px solid rgba(0, 0, 0, 0.534);

    .header_post {
      width: 100%;
      height: 40%;
      background: rgba(238, 235, 235, 0.157);
      justify-content: center;
      display: flex;
      margin: 0 auto;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .body_post {
      width: 100%;
      height: 60%;
      background: rgba(195, 177, 177, 0.267);
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      

      .post_content {
        width: 80%;
        height: 80%;
        position: relative;

        p {
          font-size: 20px;
          font-weight: normal;
        }

        a {
          color: black;
        }

        .container_infos {
          width: 100%;
          display: flex;
          justify-content: space-between;
          position: absolute;
          bottom: 0;
          border-top: 1px solid rgba(167, 57, 57, 0.349);
          padding-top: 25px;
        }
      }
    }
  }
}

.show_1 {
  display: flex;
  justify-content: center;
  
}

.left_card {
  margin-right: -280px;
}

.booking-form {
  height: 40%;
  width: 100%;
  text-align: center;
  h2 {
    margin-bottom: 50px;
    margin-top: 10px;
  }
}

.booking-field {
  width: 100%;
  height: 60%;
  background: rgba(195, 177, 177, 0.267);
  ul {
    margin-left: 10px;
  }
}

.show-booking-delete {
  margin-left: 10px;
}