

body {
  font-family: Helvetica;
  background-color: rgba(177, 195, 189, 0.493);
}

.btn {
  padding: 16px;
  border-radius: 16px;
  background-color: rgb(73, 71, 71);
  &:hover {
    color: rgb(104, 25, 25);
  }
}



.navbar {
  font-size: 24px;
  background-color: rgba(187, 24, 24, 0.424);
  text-align: center;
  color: rgb(255, 255, 255);
}

.collapse navbar-collapse {
  background-color: aqua;
}